body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF



/* RESETS FOUNDATION */
body
	padding:0;
.row
	max-width:100%;

.mainNav
	position:fixed; height:100%; background:black; color:white;
